<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>contactTelephones</key>
		<array>
			<dict>
				<key>phoneNumber</key>
				<string>17721327212</string>
				<key>phoneType</key>
				<string>工作</string>
			</dict>
		</array>
		<key>contactName</key>
		<string>马钶嘉</string>
	</dict>
	<dict>
		<key>contactTelephones</key>
		<array>
			<dict>
				<key>phoneNumber</key>
				<string>18510511964</string>
				<key>phoneType</key>
				<string>工作</string>
			</dict>
		</array>
		<key>contactName</key>
		<string>郝文威</string>
	</dict>
	<dict>
		<key>contactTelephones</key>
		<array>
			<dict>
				<key>phoneNumber</key>
				<string>13051133557</string>
				<key>phoneType</key>
				<string>工作</string>
			</dict>
		</array>
		<key>contactName</key>
		<string>李泽伦</string>
	</dict>
	<dict>
		<key>contactTelephones</key>
		<array>
			<dict>
				<key>phoneNumber</key>
				<string>13529311921</string>
				<key>phoneType</key>
				<string>工作</string>
			</dict>
		</array>
		<key>contactName</key>
		<string>陶姐</string>
	</dict>
	<dict>
		<key>contactTelephones</key>
		<array>
			<dict>
				<key>phoneNumber</key>
				<string>18393839211</string>
				<key>phoneType</key>
				<string>工作</string>
			</dict>
		</array>
		<key>contactName</key>
		<string>张璇</string>
	</dict>
	<dict>
		<key>contactTelephones</key>
		<array>
			<dict>
				<key>phoneNumber</key>
				<string>15839328283</string>
				<key>phoneType</key>
				<string>工作</string>
			</dict>
		</array>
		<key>contactName</key>
		<string>杨明轩</string>
	</dict>
	<dict>
		<key>contactTelephones</key>
		<array>
			<dict>
				<key>phoneNumber</key>
				<string>13321123987</string>
				<key>phoneType</key>
				<string>工作</string>
			</dict>
		</array>
		<key>contactName</key>
		<string>丽姐</string>
	</dict>
	<dict>
		<key>contactTelephones</key>
		<array>
			<dict>
				<key>phoneNumber</key>
				<string>13590912212</string>
				<key>phoneType</key>
				<string>工作</string>
			</dict>
		</array>
		<key>contactName</key>
		<string>刘大树</string>
	</dict>
	<dict>
		<key>contactTelephones</key>
		<array>
			<dict>
				<key>phoneNumber</key>
				<string>18743322213</string>
				<key>phoneType</key>
				<string>工作</string>
			</dict>
		</array>
		<key>contactName</key>
		<string>成龙</string>
	</dict>
	<dict>
		<key>contactTelephones</key>
		<array>
			<dict>
				<key>phoneNumber</key>
				<string>13898743212</string>
				<key>phoneType</key>
				<string>工作</string>
			</dict>
		</array>
		<key>contactName</key>
		<string>李连杰</string>
	</dict>
</array>
</plist>
